body {
    margin: 0; 
    padding: 0; 
}

#navbar1 {
    height: 50px;
    background-color: #050414;
    font-size: 10px;
    font-size: larger;
    text-decoration: none;
    display: flex; 
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}


#ViewPlan {
    border: none;
    border-radius: 4.8px; 
    background: linear-gradient(90deg, #8c1a17, #cd122d);
    height: 42px; 
    margin-right: 12px; 
    padding: 0 38.4px; 
    color: white;
    font-size: large;
}

a {
    margin-right: 80px;
    text-decoration: none;
    color: white;
}

#Transfer {
    padding-left: 20px;
}

#navbar2 {
    background-color: #0d0c1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px; /* Adjust to provide space for the search input and button */
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 80px; /* Adjust to provide space between "Transfers" and search */
}

.search-container input[type="text"],
.search-container button {
    background-color: #0d0c1d; /* Apply the same background color as the navbar */
    border: none;
    color: white; /* Adjust text color for better visibility */
}

.search-container input[type="text"] {
    padding: 6px;
    margin-right: 5px; /* Adjust spacing between input field and button */
}

.search-container button {
    padding: 6px 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    height:73vh;	
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.news {
    border-top: 2px solid #a50044;
    padding-top: 20px;
}

.news h2 {
    color: #a50044;
}

.article {
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 50%;
    }
    #navbar1 {
        flex-direction: column; /* Stack navbar items vertically on small screens */
        justify-content: center; /* Center navbar items vertically */
        text-align: center; /* Center text within navbar */
    }

    #navbar1 a {
        margin-right: 0; /* Remove margin to stack navbar links vertically */
        margin-bottom: 0.5rem; /* Add space between navbar links */
    }

    #navbar2 {
        flex-direction: column; /* Stack navbar items vertically on small screens */
        align-items: center; /* Center navbar items horizontally */
        padding-right: 0; /* Remove right padding */
        padding-left: 0; /* Remove left padding */
    }

    .search-container {
        margin-right: 0; /* Remove margin for search container */
        margin-bottom: 1rem; /* Add space between search container and other elements */
    }
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0px;
}
